.splash
  bg orange
  color white
  display flex
  flex-direction column
  align-items center
  justify-content space-around
  min-height 550px
  text-align center

  &__github
    fs scale3
    position absolute 0.3em 0.5em auto auto
    color medWhite
    &:hover
      color white

  &__logo
    margin-top 50px
    height 16vw
    max-height 190px
    min-height 120px

  &__name
    margin-top 15px
    &__title
      fs scale7
    &__tagline
      fs scale2

  &__docs
    color white
    padding 16px 25px
    fs scale1
    border 2px solid white
    margin-top 3em
    br 3px
    &:hover
      background white
      color orange

  &__share
    margin 35px 0
    &__link
      fs small
      float left
      margin 0 2em
      cursor pointer
      color brightWhite
      &::before
        fs responsive 24px 32px
        display block
        margin-bottom 8px
        position relative
      &:hover
        color white
        &::before
          top -3px

.intro
  wrapper()
  margin 60px auto 40px
  fs scale1
  overflow auto
  text-align center
  color medGrey
  p
    fs scale1
    margin 1.5em 0
    text-align center
  &__heart
    color orange
    fs scale2
    margin 0 2px

.features
  wrapper()
  lost-flex-container row
  &__feature
    lost-column 1/3 3 45px
    margin-top 23px
    margin-bottom @margin-top
    color darkGrey
    border 1px solid lightGrey
    background offWhite
    position relative
    +below(1200px)
      lost-column 1/2 2 60px
      margin-top 30px
      margin-bottom @margin-top
    +below(740px)
      lost-column 1 1 0
    &__title
      text-align center
      fs scale1
      margin-bottom 1em
      background white
      padding 1.1em 0.8em
    pre
      padding .8em 1.5em 1em
      line-height 1.3
      fs scale0
    &__optional
      position absolute -0.5em -0.5em auto auto
      fs small
      background orange
      color white
      padding 0.4em 0.8em
      border-radius 999px
