// aliases
@alias
  fs font-size
  fw font-weight
  br border-radius
  bg background
  trans transition

// Placeholder styling
placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

// Shortcuts
vert-align(pos = relative)
  position pos
  top 50%
  transform translateY(-50%)
