html
  box-sizing border-box
  -moz-osx-font-smoothing grayscale
  font-smoothing antialiased
  text-rendering optimizeLegibility
  *, *::before, *::after
    box-sizing inherit

audio, canvas, img, video
  vertical-align middle

body
  position relative
  min-height 100%
  width 100%

// Inner content wrapper
wrapper()
  clear fix
  max-width 1280px
  width 85%
  margin 0 auto
  display block
