/* Fonts */
// Brand font (Museo Sans)
@font-face
  font-family 'Museo Sans'
  font-path 'https://simplaio.github.io/rucksack/fonts/museo/MuseoSans_500'
  font-weight normal
  font-style normal

@font-face
  font-family 'Museo Sans'
  font-path 'https://simplaio.github.io/rucksack/fonts/museo/MuseoSans_500_Italic'
  font-weight normal
  font-style italic

/* Responsive modular scale */
small = responsive 12px 14px
scale0 = responsive 14px 16px
scale1 = responsive 16px 19px
scale2 = responsive 19px 24px
scale3 = responsive 24px 36px
scale4 = responsive 32px 42px
scale5 = responsive 36px 51px
scale6 = responsive 48px 64px
scale7 = responsive 64px 96px

/* Base typography styles */
html
  color textColour
  font-size scale0
  font-family 'Museo Sans', sans-serif

h1, h2, h3, h4, h5, h6
  margin 0
  line-height 1.3

p
  font-size responsive
  text-align justify
  line-height 1.6
  a
    border-bottom 1px solid

a
  text-decoration none
  color inherit

strong
  font-weight 700

small
  font-size small
  color medGrey

input
textarea
  outline 0
  padding 8px
  border 1px solid medGrey
  border-radius 3px
  color inherit

fieldset
  border 0
  padding 0
  margin 0

hr
  display block
  height 1px
  border 0
  padding 0
  border-top 1px solid medGrey
  margin 20px auto

button
  outline none
  border none
  background none

pre
  background offWhite
  border-radius 3px
  padding 1.5em 2em
  margin .6em 0 1.5em
  code
    background none
    br 0
    padding 0

code
  background offWhite
  br 3px
  padding 0.1em 0.3em
