html
  color textColour
  font-size scale0

h1, h2, h3, h4, h5, h6
  margin 0
  line-height 1.3

p
  font-size scale0
  text-align justify
  line-height 1.6
  a
    color blue
    &:hover
      color inherit
      border-bottom 1px solid blue

a
  text-decoration none
  color inherit
  &:visited
  &:active
    color inherit

strong
  font-weight 700

small
  font-size small
  color medGrey

input
textarea
  outline 0
  padding 8px
  border 1px solid medGrey
  border-radius 3px
  color inherit

hr
  display block
  height 1px
  border 0
  padding 0
  border-top 1px solid medGrey
  margin 20px auto

button
  outline none
  border none
  background none