// Major responsive breakpoints
mobile = 420px
tablet = 760px
desktop = 960px

// breakpoint debugging
bpDebug()
  body::after
    position fixed
    top 0
    right 0
    padding 16px
    background white
    font-size 20px
    z-index 999
    font-weight 300
    display none
    +between(mobile, tablet)
      content 'Mobile'
      display block
    +between(tablet, desktop)
      content 'Tablet'
      display block
    +above(desktop)
      content 'Desktop'
      display block