/* Define colours in one place for consistency */

// GreyScale
white = #fff
offWhite = #f5f5f5
textColour = #192c3d
black = #111

lightGrey = #E4E9E9
medGrey = #a3aab0
darkGrey = #677474

lightBlack = rgba(black, .25)
medBlack = rgba(black, .65)
darkBlack = rgba(black, .8)

lightWhite = rgba(white, .2)
medWhite = rgba(white, .4)
brightWhite = rgba(white, .85)

// Brand
orange = #F2672E
navy = #1E6287

// Flat UI
blue = #3498db
green = #2ecc71
red = #e74c3c
purple = #9b59b6
