<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">

    <!-- Force latest IE rendering engine & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Fix zoom for mobile browsers -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ partial "meta.html" . }}

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ .Site.BaseURL}}/style.css">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>

    <!-- Javascript -->
    <script src="{{ .Site.BaseURL}}/js/vendor.min.js"></script>
    <script src="{{ .Site.BaseURL}}/js/user.min.js"></script>

  </head>

  <body lang="en-gb">
