<!-- Site meta -->
<title>{{ .Site.Title }}</title>
<meta name="title" content="{{ .Site.Title }}">
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="copyright" content="2015 {{ .Site.Params.author }}">

<!-- Facebook meta -->
<meta property="og:title" content="{{ .Site.Title }}"/>
<meta property="og:url" content="{{ .Site.BaseURL }}"/>
<meta property="og:image" content="{{ .Site.BaseURL }}/img/full-logo.png"/>
<meta property="og:description" content="{{ .Site.Params.description }}"/>

<!-- Twitter meta -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta name="twitter:description" content="{{ .Site.Params.description }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}/img/full-logo.png" />
<meta name="twitter:url" content="{{ .Site.BaseURL }}" />

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}/img/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}/img/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}/img/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}/img/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}/img/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}/img/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}/img/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}/img/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/img/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/img/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/img/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/img/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/img/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ .Site.BaseURL }}/img/favicon/manifest.json">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}/img/favicon/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Rucksack">
<meta name="application-name" content="Rucksack">
<meta name="msapplication-TileColor" content="#f2672e">
<meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}/img/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="{{ .Site.BaseURL }}/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
