/*
 *  Remodal - v1.0.2
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles of the overlay */

.remodal-overlay {
  background: lightBlack
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  animation: remodal-overlay-opening-keyframes 200ms;
}

.remodal-overlay.remodal-is-closing {
  animation: remodal-overlay-closing-keyframes 100ms;
}

/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */
.remodal {
  position relative 5vh 0 0
  margin-bottom: 30px;
  padding: 50px;
  background: #fff;
  border-radius 5px
  max-width 100%
}

.remodal-close {
  position absolute 1em 1.2em auto auto
  color medGrey
  fs small
  cursor pointer
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  animation: remodal-opening-keyframes 200ms;
}

.remodal.remodal-is-closing {
  animation: remodal-closing-keyframes 100ms;
}

/* Keyframes
   ========================================================================== */

@keyframes remodal-opening-keyframes {
  0% {
    transform: scale(.95);
    opacity: 0;
  }
  50% {
    transform: scale(1.05)
    opacity: 1;
  }
  100%{
    transform: none
  }
}


@keyframes remodal-closing-keyframes {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
