@font-face {
  font-family: 'Test';
  src: url("/path/to/font.eot") format('embedded-opentype'),
       url("/path/to/font.woff2") format('woff2'),
       url("/path/to/font.woff") format('woff'),
       url("/path/to/font.ttf") format('truetype'),
       url("/path/to/font.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}