input::placeholder {
  color: black;
  opacity: 0.8;
}

input[type="range"]::thumb {
  background: #4286be;
  width: 16px;
  height: 8px;
  border-radius: 999px;
}

input[type="range"]::track {
  background: #9d9d9d;
  height: 3px;
}
