.opacity {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: .5;
}

.pseudo:after {
  display: block;
}

.rgba {
  background: #99dd99;
  background: rgba(153, 221, 153, 0.8);
  color: #000000;
  color: rgba(0, 0, 0, .4);
}

.vmin {
  width: 50vm;
  width: 50vmin;
}

.pixrem {
  font-size: 32px;
  font-size: 2rem;
}

.willchange {
  backface-visibility: hidden;
  will-change: transform;
}
