.foo {
  font-size: calc((10px - 300px * 0.03333333333333333) + 3.3333333333333335vw);
}
@media screen and (max-width: 300px) {
  .foo {
    font-size: 10px;
  }
}
@media screen and (min-width: 900px) {
  .foo {
    font-size: 30px;
  }
}
