.foo {
  font-size: calc(10px + 20 * ((100vw - 300px) / 600));
}
@media screen and (min-width: 900px) {
  .foo {
    font-size: 30px;
  }
}
@media screen and (max-width: 300px) {
  .foo {
    font-size: 10px;
  }
}
