.foo {
  background: #99DD99;
  background: rgba(153, 221, 153, 0.8);
  color: #000000;
  color: rgba(0, 0, 0, .4);
}

.bar {
  background: #99DD99;
  background: rgba(153, 221, 153, 0.8);
  background: rgba(153, 221, 153, 0.8);
  color: #ffffff;
  color: rgba(0, 0, 0, .4);
}